body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

h1, h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #ffffff;
}

.settings {
    margin-bottom: 15px;
}

.number-inputs label {
    display: block;
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 5px;
}

.number-inputs {
    margin-bottom: 10px;
    text-align: center;
}

.input-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.short-input {
    width: 50px;
    margin: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #444;
}

input, select {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button.generate, button.verify {
    background-color: #28a745;
}

button.generate:hover, button.verify:hover {
    background-color: #218838;
}

.operations button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    width: 45px;
    height: 45px;
    border: 2px solid #444;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2a2a2a;
    color: #ffffff;
}

.operations button.active {
    background-color: #0056b3;
    color: #fff;
    border-color: #003d7a;
}

.exercise {
    margin-bottom: 15px;
    font-size: 1.2em;
}

#result {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}

.input-group {
    display: flex;
    flex-direction: column; /* Modificato per visualizzare le etichette sopra i bottoni */
    align-items: center;
}

.input-buttons {
    display: flex;
    align-items: center; /* Modificato per allineare i bottoni e l'input su una linea */
}

.number-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-increment, .btn-decrement {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-increment:hover, .btn-decrement:hover {
    background-color: #666;
}

#timer {
    font-size: 1.5em;
    margin: 10px 0;
}
